<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147731362226-qdp3ni7lr3cfrj1qtosku7ichedetj71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147731362226-qdp3ni7lr3cfrj1qtosku7ichedetj71</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>147731362226-7ajv29p8ms3il9nenq347a53c32rnn8r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB3B4Y--bc_oWvPshpWnG8DDbLKCMkQx2I</string>
	<key>GCM_SENDER_ID</key>
	<string>147731362226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timeTrackerFlutterCourse</string>
	<key>PROJECT_ID</key>
	<string>time-tracker-flutter-cou-5bae2</string>
	<key>STORAGE_BUCKET</key>
	<string>time-tracker-flutter-cou-5bae2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147731362226:ios:f553ea798085b2fb5c34ab</string>
</dict>
</plist>